0x07-csharp-tdd/0-add/MyMath/obj/MyMath.csproj.nuget.cache
0x07-csharp-tdd/0-add/MyMath/obj/MyMath.csproj.nuget.dgspec.json
0x07-csharp-tdd/0-add/MyMath/obj/MyMath.csproj.nuget.g.props
0x07-csharp-tdd/0-add/MyMath/obj/MyMath.csproj.nuget.g.targets
0x07-csharp-tdd/0-add/MyMath/obj/project.assets.json
0x07-csharp-tdd/0-add/MyMath/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
0x07-csharp-tdd/0-add/MyMath/obj/Debug/netstandard2.0/MyMath.AssemblyInfo.cs
0x07-csharp-tdd/0-add/MyMath/obj/Debug/netstandard2.0/MyMath.AssemblyInfoInputs.cache
0x07-csharp-tdd/0-add/MyMath/obj/Debug/netstandard2.0/MyMath.assets.cache
0x07-csharp-tdd/0-add/MyMath/obj/Debug/netstandard2.0/MyMath.csproj.AssemblyReference.cache
0x07-csharp-tdd/0-add/MyMath.Tests/obj/MyMath.Tests.csproj.nuget.cache
0x07-csharp-tdd/0-add/MyMath.Tests/obj/MyMath.Tests.csproj.nuget.dgspec.json
0x07-csharp-tdd/0-add/MyMath.Tests/obj/MyMath.Tests.csproj.nuget.g.props
0x07-csharp-tdd/0-add/MyMath.Tests/obj/MyMath.Tests.csproj.nuget.g.targets
0x07-csharp-tdd/0-add/MyMath.Tests/obj/project.assets.json
0x07-csharp-tdd/0-add/MyMath.Tests/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
0x07-csharp-tdd/0-add/MyMath.Tests/obj/Debug/netcoreapp2.1/MyMath.Tests.AssemblyInfo.cs
0x07-csharp-tdd/0-add/MyMath.Tests/obj/Debug/netcoreapp2.1/MyMath.Tests.AssemblyInfoInputs.cache
0x07-csharp-tdd/0-add/MyMath.Tests/obj/Debug/netcoreapp2.1/MyMath.Tests.assets.cache
0x07-csharp-tdd/0-add/MyMath.Tests/obj/Debug/netcoreapp2.1/MyMath.Tests.csproj.AssemblyReference.cache
0x07-csharp-tdd/4-unique/Text/bin/Debug/netstandard2.0/Text.deps.json
0x07-csharp-tdd/4-unique/Text/bin/Debug/netstandard2.0/Text.dll
0x07-csharp-tdd/4-unique/Text/bin/Debug/netstandard2.0/Text.pdb
0x07-csharp-tdd/4-unique/Text/bin/Debug/netstandard2.0/Text.xml
0x07-csharp-tdd/4-unique/Text/obj/project.assets.json
0x07-csharp-tdd/4-unique/Text/obj/Text.csproj.nuget.cache
0x07-csharp-tdd/4-unique/Text/obj/Text.csproj.nuget.dgspec.json
0x07-csharp-tdd/4-unique/Text/obj/Text.csproj.nuget.g.props
0x07-csharp-tdd/4-unique/Text/obj/Text.csproj.nuget.g.targets
0x07-csharp-tdd/4-unique/Text/obj/Debug/netstandard2.0/Text.AssemblyInfo.cs
0x07-csharp-tdd/4-unique/Text/obj/Debug/netstandard2.0/Text.AssemblyInfoInputs.cache
0x07-csharp-tdd/4-unique/Text/obj/Debug/netstandard2.0/Text.assets.cache
0x07-csharp-tdd/4-unique/Text/obj/Debug/netstandard2.0/Text.csproj.CoreCompileInputs.cache
0x07-csharp-tdd/4-unique/Text/obj/Debug/netstandard2.0/Text.csproj.FileListAbsolute.txt
0x07-csharp-tdd/4-unique/Text/obj/Debug/netstandard2.0/Text.csprojAssemblyReference.cache
0x07-csharp-tdd/4-unique/Text/obj/Debug/netstandard2.0/Text.dll
0x07-csharp-tdd/4-unique/Text/obj/Debug/netstandard2.0/Text.pdb
0x07-csharp-tdd/4-unique/Text.Tests/bin/Debug/netcoreapp2.1/nunit.engine.api.dll
0x07-csharp-tdd/4-unique/Text.Tests/bin/Debug/netcoreapp2.1/nunit.engine.dll
0x07-csharp-tdd/4-unique/Text.Tests/bin/Debug/netcoreapp2.1/NUnit3.TestAdapter.dll
0x07-csharp-tdd/4-unique/Text.Tests/bin/Debug/netcoreapp2.1/NUnit3.TestAdapter.pdb
0x07-csharp-tdd/4-unique/Text.Tests/bin/Debug/netcoreapp2.1/Text.dll
0x07-csharp-tdd/4-unique/Text.Tests/bin/Debug/netcoreapp2.1/Text.pdb
0x07-csharp-tdd/4-unique/Text.Tests/bin/Debug/netcoreapp2.1/Text.Tests.deps.json
0x07-csharp-tdd/4-unique/Text.Tests/bin/Debug/netcoreapp2.1/Text.Tests.dll
0x07-csharp-tdd/4-unique/Text.Tests/bin/Debug/netcoreapp2.1/Text.Tests.pdb
0x07-csharp-tdd/4-unique/Text.Tests/bin/Debug/netcoreapp2.1/Text.Tests.runtimeconfig.dev.json
0x07-csharp-tdd/4-unique/Text.Tests/bin/Debug/netcoreapp2.1/Text.Tests.runtimeconfig.json
0x07-csharp-tdd/4-unique/Text.Tests/bin/Debug/netcoreapp2.1/Text.xml
0x07-csharp-tdd/4-unique/Text.Tests/obj/project.assets.json
0x07-csharp-tdd/4-unique/Text.Tests/obj/Text.Tests.csproj.nuget.cache
0x07-csharp-tdd/4-unique/Text.Tests/obj/Text.Tests.csproj.nuget.dgspec.json
0x07-csharp-tdd/4-unique/Text.Tests/obj/Text.Tests.csproj.nuget.g.props
0x07-csharp-tdd/4-unique/Text.Tests/obj/Text.Tests.csproj.nuget.g.targets
0x07-csharp-tdd/4-unique/Text.Tests/obj/Debug/netcoreapp2.1/Text.Tests.AssemblyInfo.cs
0x07-csharp-tdd/4-unique/Text.Tests/obj/Debug/netcoreapp2.1/Text.Tests.AssemblyInfoInputs.cache
0x07-csharp-tdd/4-unique/Text.Tests/obj/Debug/netcoreapp2.1/Text.Tests.assets.cache
0x07-csharp-tdd/4-unique/Text.Tests/obj/Debug/netcoreapp2.1/Text.Tests.csproj.CopyComplete
0x07-csharp-tdd/4-unique/Text.Tests/obj/Debug/netcoreapp2.1/Text.Tests.csproj.CoreCompileInputs.cache
0x07-csharp-tdd/4-unique/Text.Tests/obj/Debug/netcoreapp2.1/Text.Tests.csproj.FileListAbsolute.txt
0x07-csharp-tdd/4-unique/Text.Tests/obj/Debug/netcoreapp2.1/Text.Tests.csprojAssemblyReference.cache
0x07-csharp-tdd/4-unique/Text.Tests/obj/Debug/netcoreapp2.1/Text.Tests.dll
0x07-csharp-tdd/4-unique/Text.Tests/obj/Debug/netcoreapp2.1/Text.Tests.pdb
0x07-csharp-tdd/5-camelcase/Text/bin/Debug/netstandard2.0/Text.deps.json
0x07-csharp-tdd/5-camelcase/Text/bin/Debug/netstandard2.0/Text.dll
0x07-csharp-tdd/5-camelcase/Text/bin/Debug/netstandard2.0/Text.pdb
0x07-csharp-tdd/5-camelcase/Text/obj/project.assets.json
0x07-csharp-tdd/5-camelcase/Text/obj/Text.csproj.nuget.cache
0x07-csharp-tdd/5-camelcase/Text/obj/Text.csproj.nuget.dgspec.json
0x07-csharp-tdd/5-camelcase/Text/obj/Text.csproj.nuget.g.props
0x07-csharp-tdd/5-camelcase/Text/obj/Text.csproj.nuget.g.targets
0x07-csharp-tdd/5-camelcase/Text/obj/Debug/netstandard2.0/Text.AssemblyInfo.cs
0x07-csharp-tdd/5-camelcase/Text/obj/Debug/netstandard2.0/Text.AssemblyInfoInputs.cache
0x07-csharp-tdd/5-camelcase/Text/obj/Debug/netstandard2.0/Text.assets.cache
0x07-csharp-tdd/5-camelcase/Text/obj/Debug/netstandard2.0/Text.csproj.CoreCompileInputs.cache
0x07-csharp-tdd/5-camelcase/Text/obj/Debug/netstandard2.0/Text.csproj.FileListAbsolute.txt
0x07-csharp-tdd/5-camelcase/Text/obj/Debug/netstandard2.0/Text.csprojAssemblyReference.cache
0x07-csharp-tdd/5-camelcase/Text/obj/Debug/netstandard2.0/Text.dll
0x07-csharp-tdd/5-camelcase/Text/obj/Debug/netstandard2.0/Text.pdb
0x07-csharp-tdd/5-camelcase/Text.Tests/bin/Debug/netcoreapp2.1/nunit.engine.api.dll
0x07-csharp-tdd/5-camelcase/Text.Tests/bin/Debug/netcoreapp2.1/nunit.engine.dll
0x07-csharp-tdd/5-camelcase/Text.Tests/bin/Debug/netcoreapp2.1/NUnit3.TestAdapter.dll
0x07-csharp-tdd/5-camelcase/Text.Tests/bin/Debug/netcoreapp2.1/NUnit3.TestAdapter.pdb
0x07-csharp-tdd/5-camelcase/Text.Tests/bin/Debug/netcoreapp2.1/Text.dll
0x07-csharp-tdd/5-camelcase/Text.Tests/bin/Debug/netcoreapp2.1/Text.pdb
0x07-csharp-tdd/5-camelcase/Text.Tests/bin/Debug/netcoreapp2.1/Text.Tests.deps.json
0x07-csharp-tdd/5-camelcase/Text.Tests/bin/Debug/netcoreapp2.1/Text.Tests.dll
0x07-csharp-tdd/5-camelcase/Text.Tests/bin/Debug/netcoreapp2.1/Text.Tests.pdb
0x07-csharp-tdd/5-camelcase/Text.Tests/bin/Debug/netcoreapp2.1/Text.Tests.runtimeconfig.dev.json
0x07-csharp-tdd/5-camelcase/Text.Tests/bin/Debug/netcoreapp2.1/Text.Tests.runtimeconfig.json
0x07-csharp-tdd/5-camelcase/Text.Tests/obj/project.assets.json
0x07-csharp-tdd/5-camelcase/Text.Tests/obj/Text.Tests.csproj.nuget.cache
0x07-csharp-tdd/5-camelcase/Text.Tests/obj/Text.Tests.csproj.nuget.dgspec.json
0x07-csharp-tdd/5-camelcase/Text.Tests/obj/Text.Tests.csproj.nuget.g.props
0x07-csharp-tdd/5-camelcase/Text.Tests/obj/Text.Tests.csproj.nuget.g.targets
0x07-csharp-tdd/5-camelcase/Text.Tests/obj/Debug/netcoreapp2.1/Text.Tests.AssemblyInfo.cs
0x07-csharp-tdd/5-camelcase/Text.Tests/obj/Debug/netcoreapp2.1/Text.Tests.AssemblyInfoInputs.cache
0x07-csharp-tdd/5-camelcase/Text.Tests/obj/Debug/netcoreapp2.1/Text.Tests.assets.cache
0x07-csharp-tdd/5-camelcase/Text.Tests/obj/Debug/netcoreapp2.1/Text.Tests.csproj.CopyComplete
0x07-csharp-tdd/5-camelcase/Text.Tests/obj/Debug/netcoreapp2.1/Text.Tests.csproj.CoreCompileInputs.cache
0x07-csharp-tdd/5-camelcase/Text.Tests/obj/Debug/netcoreapp2.1/Text.Tests.csproj.FileListAbsolute.txt
0x07-csharp-tdd/5-camelcase/Text.Tests/obj/Debug/netcoreapp2.1/Text.Tests.csprojAssemblyReference.cache
0x07-csharp-tdd/5-camelcase/Text.Tests/obj/Debug/netcoreapp2.1/Text.Tests.dll
0x07-csharp-tdd/5-camelcase/Text.Tests/obj/Debug/netcoreapp2.1/Text.Tests.pdb
.vscode/launch.json
.vscode/tasks.json
