0x07-csharp-tdd/0-add/MyMath/obj/MyMath.csproj.nuget.cache
0x07-csharp-tdd/0-add/MyMath/obj/MyMath.csproj.nuget.dgspec.json
0x07-csharp-tdd/0-add/MyMath/obj/MyMath.csproj.nuget.g.props
0x07-csharp-tdd/0-add/MyMath/obj/MyMath.csproj.nuget.g.targets
0x07-csharp-tdd/0-add/MyMath/obj/project.assets.json
0x07-csharp-tdd/0-add/MyMath/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
0x07-csharp-tdd/0-add/MyMath/obj/Debug/netstandard2.0/MyMath.AssemblyInfo.cs
0x07-csharp-tdd/0-add/MyMath/obj/Debug/netstandard2.0/MyMath.AssemblyInfoInputs.cache
0x07-csharp-tdd/0-add/MyMath/obj/Debug/netstandard2.0/MyMath.assets.cache
0x07-csharp-tdd/0-add/MyMath/obj/Debug/netstandard2.0/MyMath.csproj.AssemblyReference.cache
0x07-csharp-tdd/0-add/MyMath.Tests/obj/MyMath.Tests.csproj.nuget.cache
0x07-csharp-tdd/0-add/MyMath.Tests/obj/MyMath.Tests.csproj.nuget.dgspec.json
0x07-csharp-tdd/0-add/MyMath.Tests/obj/MyMath.Tests.csproj.nuget.g.props
0x07-csharp-tdd/0-add/MyMath.Tests/obj/MyMath.Tests.csproj.nuget.g.targets
0x07-csharp-tdd/0-add/MyMath.Tests/obj/project.assets.json
0x07-csharp-tdd/0-add/MyMath.Tests/obj/Debug/netcoreapp2.1/.NETCoreApp,Version=v2.1.AssemblyAttributes.cs
0x07-csharp-tdd/0-add/MyMath.Tests/obj/Debug/netcoreapp2.1/MyMath.Tests.AssemblyInfo.cs
0x07-csharp-tdd/0-add/MyMath.Tests/obj/Debug/netcoreapp2.1/MyMath.Tests.AssemblyInfoInputs.cache
0x07-csharp-tdd/0-add/MyMath.Tests/obj/Debug/netcoreapp2.1/MyMath.Tests.assets.cache
0x07-csharp-tdd/0-add/MyMath.Tests/obj/Debug/netcoreapp2.1/MyMath.Tests.csproj.AssemblyReference.cache
